
.swiper-wrapper{
    border-radius: 10px;
}
.swiper-slide{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
}

.swiper{
    height: 400px;
    margin: 20px 100px;
    padding: 0px 60px;
    width: 960px;
}


.Jumia{
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    margin: 30px auto ;
    display:grid;
  justify-content: center;
  width: 68%;
  height: 20%;
  background-color: white;
  border-radius: 5px;
  /* row-gap: 10px; */
}

.Jumia-sales{
    border-radius: 10px;
    column-gap: 5px;
    padding: 10px;
    
}


.Text{
    text-align: center;
    background-color: white;
    border: 1px solid thick;
    padding: 5px 15px;
    border-radius: 5px;
}

.iron{
    max-width: 180px;
    max-height: 250px;
}

.Jug{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: azure;
}

.swiper-slide{
    border-radius: 10px;
}
.swiper-slide1{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
}

.swiper2{
    height: 400px;
    margin: 0px 100px;
    padding: 0 60px;
    width: 960px;
}


.logo4{
    width: 140px;
    margin-left: 380px;
}

.Jumiaa{
    background-color: white;
    height: 80px;
}


.Hubby{
    width:23%;
    height: 20px;
    padding: 10px 30px;
    border: 1px solid grey;
    border-radius: 5px;
    /* text-align: center; */
    margin-top: -50px;
    margin-left: 550px;

}

.epic{
    border: 0px;
    /* padding: 10px; */
}

.ace{
    margin-top: -10px;
    margin-left: 500px;
    border-radius: 5px;
}


.Two{
    text-align: center;
    margin-top: -30px;
    margin-left: 200px;

}

.But{
    padding: 13px 15px;
    border-radius: 5px;
    background-color: orange;
    border: 15px;
    margin-top: -45px;
    margin-left: 100px;
}

.idol{
    /* padding: 13px 15px;
    border-radius: 5px; */
    margin-left: 1150px;
    margin-top: -25px;
}

.bit{
    border: 0px;
}

.idol .hover{
    color: orange;
}

.Help{
    margin-top: 1400;
    margin-right: 40px;
}
